* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-form {
  text-align: center;
  min-height: 90vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  height: 35vh;
}
.submit-btn {
  border: 2px solid black;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.submit-btn:hover {
  color: white;
  background-color: black;
}
