<section style='text-align: center; margin-top: 5rem'>
    <div>
      <h2>User error SIGN UP</h2>  
      
      <a href="/signup"> Volver</a>
    </div>
      
</section>
    <style>
      section{
        height: 100vh;
        text-align: center;
      }
      div{
        text-align: center;
        background-color: #F57A97;
        
        height: 60vh;
        width: 80%;
        margin: auto;
        padding: 2rem ;
      }
      a{
        text-decoration: none;
        color: #FF6E6E;
        background-color: #991C1C;
        padding: 1rem 2rem;
      }
      h2 {
        color: #991C1C;
        margin-bottom: 5rem;
      }
    
      .jumbotron {
        min-height: 100vh;
      }
</style>

