
<section style='text-align: center; margin-top: 5rem'>
      <h2>Ingrese Producto a Agregar</h2>  
      
      <form class="container" style="width: 40vw " {{!-- action="/api/productos/guardar" method="POST" --}}>
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" name='title' class="form-control" id="title" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input type="number" name='price' class="form-control" id="price" required>
        </div>
        <div class="mb-3">
          <label for="thumbnail" class="form-label">Link image:</label>
          <input type="text" name='thumbnail' class="form-control" id="thumbnail" required>
          
        </div>
        <button type="submit" class="btn btn-primary" id='btn'>Enviar</button>
      </form>
    </section>
    <style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: rgb(72, 72, 211);
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>
<div class="container mt-3">
<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>    
        <div class="table-responsive">
            <table class="table table-dark" id='table'>
                <tr> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                
            </table>
        </div>
    
        {{!-- <h3 class="alert alert-warning"></h3> --}}
    
</div>
</div>
