
<section style='text-align: center; margin-top: 5rem'>
      <h2>Ingrese Nombre</h2>  
      
      <form class="container" style="width: 40vw " action="/login" method="POST" >
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" name='name' class="form-control" id="name">
        </div>
        
        <button type="submit" class="btn btn-primary" id='btn-name'>Enviar</button>
      </form>
    </section>
    <style>
    
    h1 {
        color: rgb(72, 72, 211);
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

